body {
padding: 0;
margin: 0;
background-color: white;
min-width: 700px;
background-position: left top;
background-repeat:repeat-x;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 80%;
}
#header {
height: 150px;
background: url(../images/header_bg.png) repeat-x;
}
#logo_image {
float: left;
position: relative;
}
#logo_image img {
border: none;
}
#notice {
color: red;
font-weight: bold;
margin-left: 30px;
margin-bottom: 30px;
}
#error {
color: red;
font-weight: bold;
margin-left: 30px;
margin-bottom: 30px;
}
#join_now_text {
clear: both;
text-align: right;
}
#Content {
margin:75px 0px 50px 220px;
padding:5px;
}
#sidebar {
position:absolute;
top:230px;
left:20px;
width:170px;
}
#Menu {
display:block;
float:left;
padding:10px;
background-color:#eee;
border:1px dashed #999;
line-height:17px;
width:170px;
margin-bottom: 20px;
}
#home_menu {
list-style: none;
margin: 0px;
padding: 0px;
}
#home_menu li {
padding-top: 20px;
padding-bottom: 20px;
font-size: 1.5em;
color: blue;
}
.home_quote {
font-family: Verdana, Arial, Helvetica, sans-serif;
float: left;
margin-left: 25px;
font-size: 12pt;
color: #777777;
border: 3px solid #0066cc;
width: 75%;
padding: 15px;
background-color: #a6cae1;
}

.home_quote.quote_title {
display: block;
font-size:14pt;
font-weight:bold;
color:gray;
margin-bottom: 15px;
}
// Implementing Registration
#signup_content {
float: left;
padding-left: 50px;
width: 400px;
text-align: right;
}
#signup_content.title, #login_content.title {
font-weight:bold;
}
.signup_field,.login_field {
white-space: nowrap;
padding-bottom:.5em;
text-align: left;
}
.signup_field label,.login_field label {
display:block;
float:left;
margin-right:0.5em;
text-align:right;
width:12em;
}
.signup_field input,.login_field input {
text-align: left;
}